<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript" src="static/ProjectInstance.js"></script>
    <script type="text/javascript" src="static/communication.js"></script>
    <script type="text/javascript" src="static/play.js"></script>
    <script type="text/javascript">
    openSocket();
    var proj = new Project("test_proj");
    var projname = "test_proj"
    var bandname = 'test_band';
    var path = "static/music/test_band/test_proj/";
    </script>
    <script type="text/javascript">
    function setup() {
        tellServer("newTrack", "guitar");
        tellServer("newTrack", "violin");

        tellServer("newLibraryClip", "guitar 1.wav");
        tellServer("newLibraryClip", "guitar 2.wav");
        tellServer("newLibraryClip", "violin 1.wav");
        tellServer("newLibraryClip", "violin 2.wav");

        tellServer("addClipToTrack", ['guitar', 1, 'guitar 1.wav', 0, 15]);
        tellServer("addClipToTrack", ['violin', 1, 'violin 1.wav', 0, 15]);

        tellServer("addClipToTrack", ['guitar', 9.6, 'guitar 2.wav', 0, 15]);
        tellServer("addClipToTrack", ['violin', 9.6, 'violin 2.wav', 0, 15]);

       // tellServer("addClipToTrack", ['guitar', 20.3, 'guitar 2.wav', 0, 15]);
       // tellServer("addClipToTrack", ['violin', 20.3, 'violin 2.wav', 0, 15]);

    }
    function onmessage() {}
    function pos(p) {
        position = p;
    }


    </script>



</head>
<body>
<button id= "setup" type="button" onClick="setup()">setup </button>
<button id= "play" type="button" onClick="play()">play </button>
<button id= "pause" type="button" onClick="pause()">pause </button>
<button id= "stop" type="button" onClick="stop()">stop</button>
</br>
 <button id= "pos1" type="button" onClick="pos(1)"> set position to 1 </button>
    <button id= "pos3" type="button" onClick="pos(3)"> set position to 3 </button>
    <button id= "pos7" type="button" onClick="pos(7)"> set position to 7 </button>
    <button id= "pos10" type="button" onClick="pos(10)"> set position to 10 </button>
</body>
</html>