<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
This is a test of the system, not including the GUI. It will create various tracks and clips and play them for you.
Open two windows or tabs to test communication, and select a different link for each. Or, click the single client link to test everything with one client.
If using both at once, you must setup test2 first. This is due to a testing kludge, not problems in the code.
</br>

<a href="test1.html">Guitar and Violin</a></br>
<a href="test2.html">Drum and Bass</a></br>
<a href="test.html">Single Client</a>

</body>
</html>